PORT=5176
DATABASE_URL=postgresql://postgres:password@localhost:5432/wedding_db
UPLOAD_DIR=uploads
NODE_ENV=development

PG_HOST=localhost
PG_PORT=5432
PG_DATABASE=postgres
PG_USER=postgres
PG_PASSWORD=dog-pass